@import '../../styles/variables.scss';

.footer {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.footer-container {
    background-color: $brand-secondary;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px 0;
    &.top {
        border: 1px solid lightgray;
        border-right: none;
        border-left: none;
        background-color: #fff;
    }
}
.footer-logo-wrapper {
    padding: 0;
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    display: flex;
    //flex-direction: column;
    margin-left: 15px;
    justify-content: space-around;
    line-height: 1rem;
    font-weight: 600;
    color: black;
    &__top {
        font-size: 25px;
    }
    &__bottom {
        font-size: 18px;
    
    }
} 
.footer-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.img-wrapper {
    display: block;
    margin: auto;
    padding: 0 10px;
    &.coop {
        padding-top: 16px;
    }
}
.beer {
    color: #009e41;
    max-width: 100px;
    font-weight: 500;
}


